In [1]:
import numpy as np
import pandas as pd

In [14]:
adv = pd.read_csv('../data/Telemedicine.csv')

In [15]:
adv

          PatientID     PracticeID   VisitDate
0     F788831A66E9A  SCC8EE4FB66C3  2020-04-24
1     F788831A66E9A  SCC8EE4FB66C3  2021-06-10
2     FAF26C1A1CEE4  S0015D5ED587A  2021-02-12
3     F412959B03189  SC3260C6286CA  2020-10-19
4     F412959B03189  SC3260C6286CA  2021-01-04
...             ...            ...         ...
7375  F43B0F1E06880  SEEACF5001C16  2022-04-06
7376  F43B0F1E06880  SEEACF5001C16  2022-05-02
7377  F43B0F1E06880  SEEACF5001C16  2022-05-10
7378  F43B0F1E06880  SEEACF5001C16  2022-06-20
7379  F43B0F1E06880  SEEACF5001C16  2022-06-27

[7380 rows x 3 columns]